body { 
	text-align:center;
	background-color: #F1E7CD;
	background-image: url("http://www.zingerbug.com/Backgrounds/background_images/parchment_paper_wallpaper_texture_seamless.jpg");
}

P { 
	font-family: "Palatino Linotype", Palatino, serif;
	font-style: italic;
	font-size: 150%;
	text-indent: 1em; 
	margin-left: 15%;
	margin-right: 15%;
	margin-top: .25em; 
	margin-bottom: .75em; 
	text-align: justify;
}
H1,H2,H4,H5,H6 { 
	text-align: center; 
	margin-left: 15%; 
	margin-right: 15%; 
	text-decoration: underline;
	color: #704214;
}
H3 {
	text-align: center; margin-left: 15%; margin-right: 15%; 
	margin-top:5%;
	text-decoration: underline;
	color: #704214;
}
hr  { 
	width: 25%; 
	height: 0.5em;
	text-align: center;
	background-color: #704214
}
blockquote {
	font-family: "Times New Roman", Times, serif; 
	background-color: #F1E7CD; 
	margin-left: 10%; 
	margin-right: 10%;
	background-image: url("http://orig06.deviantart.net/14f9/f/2007/177/a/8/seamless_parchment_texture_by_fantasystock.jpg");
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}
.c {
	text-align:center;;
}
.toc       { 

	font-weight: bold;
	font-family: "Palatino Linotype", Palatino, serif; 
	text-align: center;
	color: #704214;
	}
/* Custom CSS for the Second Treastise by John Locked due to .toc conflict. */
.toc2
{
	font-family: "Palatino Linotype", Palatino, serif;
	text-align:center;
	margin-top:5%;
	color: #704214;
}

pre     { 
	font-family: "Times New Roman", Times, serif; 
	font-style: italic; 
	font-size: 95%; 
	text-align: center;
}